<h1>Registrar Novo Álbum</h1>
<form method="post">
  {% csrf_token %}
  
  <p>
    <label for="{{ form.name.id_for_label }}">Nome do Álbum:</label><br>
    {{ form.name }}
  </p>

  <p>
    <label for="{{ form.item.id_for_label }}">Item Relacionado:</label><br>
    {{ form.item }}
  </p>

  <p>
    <label for="{{ form.category.id_for_label }}">Categoria:</label><br>
    {{ form.category }}
  </p>

  <p>
    <label for="{{ form.author.id_for_label }}">Autor:</label><br>
    {{ form.author }}
  </p>

  <button type="submit">Salvar</button>
</form>
